<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FORM</title>
  </head>
  <body>
    <h2>Fill the form</h2>
    <form action="/newuser" method="post">
      <input type="text" name="user" id="" placeholder="Enter Username" />
      <input type="email" name="email" id="" placeholder="Enter Email" />
      <button type="reset">Reset</button>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
