<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FORM</title>
  </head>
  <body>
    <h2>Fill the form</h2>
    <form action="/newuser" method="post">
      <label for="user">Username:</label>
      <br />
      <input type="text" name="user" id="" />
      <br />
      <label for="email">Email:</label>
      <br />
      <input type="email" name="email" id="" />
      <br />
      <label for="phone">Phone:</label>
      <br />
      <input type="tel" name="phone" id="" maxlength="10" minlength="10" />
      <br />
      <label for="address">Address:</label>
      <br />
      <textarea name="address" id=""></textarea>
      <br />
      <span>Select Gender:</span>
      <br />
      <input type="radio" name="gender" value="Male" />
      <label for="gender">Male</label>

      <input type="radio" name="gender" value="Female" />
      <label for="gender">Female</label>

      <input type="radio" name="gender" value="Others" />

      <label for="gender">Other</label>
      <br />

      <label for="age">Select Age Group:</label>
      <select name="age" id="">
        <option value="5-10">5-10</option>
        <option value="11-20">11-20</option>
        <option value="21-50">21-50</option>
        <option value="51-80">51-80</option>
        <option value="81-100">81-100</option>
      </select>
      <br />
      <button type="reset">Reset</button>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
